/.vs
/.vscode

# Build
/obj
/bin
**/bin/
**/obj/


/EasyToTestCode/bin
/EasyToTestCode/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NamingIsHard/bin
/NamingIsHard/obj/Debug
/NamingIsHard_Code/bin
/NamingIsHard_Code/obj/Debug
